@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
:root{
    --default: #C91E1E;
}
*{
    padding: 0;
    margin: 0;   
    color: var(--default);
    font-family: "Pangolin", cursive;
}
body{
    background-color: #000;
    background-image: url(../res/fon.5.png);
}
header, footer{
    background-color: #fff;
}
.logo{
    margin: 10px;
}
main{
    display: flex;
    flex-direction: column;
}
.main{
    width: 70%;
    height: 100%;
    background-color: #fff;
    align-self: center;
    margin-top: 5em;
    padding: 20px 40px;
}
aside{
    width: 35%;
    border: 1px solid ;
    float: right;
    margin: 1em 0 0 1em;
}
.main_header{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.aside_heading{
    background-color: var(--default);
    color: #fff;
    padding: 5px;
    font-size: 150%;
    text-align: center;
}
aside ul{
    list-style-type: none;
    display: flex;
    column-gap: 10px;
    padding: 5px;
}
aside ul .active{
    font-weight: bolder;
}
.aside_info{
    display: flex;
    padding: 10px 10px;
    column-gap: 10px;
}
.aside_info h3{
    width: 40%;
}
.aside_info p{
    width: 60%;
}
.content{
    margin: 1em 0;
}
.content h2{
    margin: 1em 0;
}
blockquote{
    display: flex;
    flex-direction: column;
    align-items: center;
}
q{
    quotes: '««' '»» ';
    display: block;
}
.content p{
    margin: 1em 0;
}
.toc{
    display: table;
    border: 1px solid;
    padding-bottom: 0.5em;
}
.toctitle{
    border-bottom: 1px solid;
    padding: 0.5em;
}
.toc ul{
    list-style-type: none;
    margin-left: 1em;
}
.toc ul li{
    padding: 0.5em 1em 0 0;
}
.toc ul li a{
    text-decoration: none;
}
.toc ul li a:hover{
    font-weight: bold;
}
footer{
    margin-top: 5em;
}
.footer_columns{
    display: flex;
    align-items: flex-end;
    padding: 0 1em 1em;
}
.footer_column{
    width: 50%;
}
.footer_column a{
    text-decoration: none;
    font-weight: bold;
}