@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
:root{
    --default: #C91E1E;
}
*{
    padding: 0;
    margin: 0;   
    color: var(--default);
    font-family: "Pangolin", cursive;
}
html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    background-color: #000;
    background-image: url(../res/fon.5.png);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
header, footer{
    background-color: #fff;
}
.logo{
    margin: 10px;
}
main{
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex-grow: 1;
}
.main_logo{
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: flex-end;
    margin-top: 5em;
}
.mt-5{
    margin-top: 5em;
}
.main{
    width: 100%;
    height: 100%;
    background-color: #fff;
    align-self: center;
    padding: 20px 40px;
}
aside{
    width: 100%;
    border: 1px solid;
    margin-top: 1em;
}
.main_header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: 1em;
}
.aside_heading{
    background-color: var(--default);
    color: #fff;
    padding: 5px;
    font-size: 150%;
    text-align: center;
}
aside ul{
    list-style-type: none;
    display: flex;
    column-gap: 10px;
    padding: 5px;
}
aside ul .active{
    font-weight: bolder;
}
.aside_info{
    display: flex;
    padding: 10px 10px;
    column-gap: 10px;
}
.aside_info h3{
    width: 40%;
}
.aside_info p{
    width: 60%;
}
.content{
    margin: 1em 0;
}
.content h2{
    margin: 1em 0;
}
blockquote{
    display: flex;
    flex-direction: column;
    align-items: center;
}
q{
    quotes: '««' '»» ';
    display: block;
}
.content p{
    margin: 1em 0;
}
.toc{
    display: none;
}
.toctitle{
    border-bottom: 1px solid;
    padding: 0.5em;
}
.toc ul{
    list-style-type: none;
    margin-left: 1em;
}
.toc ul li{
    padding: 0.5em 1em 0 0;
}
.toc ul li a{
    text-decoration: none;
}
.toc ul li a:hover{
    font-weight: bold;
}
.main_info{
    padding: 0 1em;
}
.info{
    padding: 0 1em;
}
footer{
    margin-top: 5em;
}
.footer_column{
    padding: 1em;
}
.footer_column a{
    text-decoration: none;
    font-weight: bold;
}
.err_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
}
.white{
    background-color: #fff;
}
.err{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 20%;
}
.update ul{
    list-style-type: none
}
.update li, .update_heading, .update_ver{
    padding-top: 0.5em;
}